<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create job</title>
</head>
<body>
    <h2> Resume</h2>
    <form  class="big">
        <div class="leftForm">
            Link *<br>
            Label<br>
            Job Title *<br>
            Company Name *<br>
            Company Location *<br>
            Salary (range)<br>
            Date of Offer *<br>
            Job Snippet 1<br>
            Job Snippet 2<br>
        </div>
        <!-- 'href', 'label', 'jobTitle', 'companyName', 'companyLocation',
       'salary-snippet', 'ialbl', 'job-snippet', 'date', 'shelfItem',
       'job-snippet 2', 'job-snippet 3' -->
        <div class="rightForm">
            <input type="text"  placeholder="Enter the link for application" name='Name'><br>
            <input type="text" placeholder="Enter the label of job" name='Fathers name'> <br>
            <input type="email" placeholder="Enter the job title" name='Mail'> <br>
            <input type="text" placeholder="Enter the Company Name" name='CNIC'> <br>
            <input type="text" placeholder="Enter the Company Location" name='PhoneNumber'> <br>
            <input type="text" placeholder="Enter the Salary range" name='Education'> <br>
            <input type="text" placeholder="Enter the Date" name='Matric'> <br>
            <input type="text" placeholder="Enter Job Snippet 1" name='FSC'> <br>
            <input type="text" placeholder="Enter Job Snippet 2" name='Graduation'> <br>
        </div><br>
        <button  type="submit"  value="submit">Create</button>
    </form>
</body>
</html>